[submodule "day7/lib/forge-std"]
	path = day7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "homework_4/lib/forge-std"]
	path = homework_4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "homework_5/DecentralizedCrowdfunding/lib/forge-std"]
	path = homework_5/DecentralizedCrowdfunding/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day16/ETB_Nftmarketplace/lib/forge-std"]
	path = day16/ETB_Nftmarketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
